<!-- This component wraps Searchbar and ResultList -->
<template>
  <div id='Home'>
    <Searchbar :toggleEval='eval'/>
    <ResultList :toggleEval='eval'/>
  </div>
</template>

<script>
import Searchbar from '@/components/Searchbar'
import ResultList from '@/components/ResultList'

export default {
  components: {
    Searchbar, ResultList
  },
  props: {
    /**
     * @prop {Boolean} eval
     *
     * Prop used to pass boolean 'toggleEval' from url query string down
     * to child component ResultList
     */
    eval: {
      type: Boolean,
      default: false
    }
  }
}
</script>
