<!-- List Element of ResultList, shows Title and Description of Results -->
<template>
  <div id='ResultSnippet'>
    <el-container class="componentContainer">

      <el-container class='snippetContainer'>

        <el-header class='snippetContainerHeader' height='20px'>
          <template v-if='result.title !== undefined'>
            <span class='snippet-title' @click='$emit("showDetail")'>
              {{ result.title }}
            </span>
          </template>
          <template v-else>
            <span class='snippet-title' @click='$emit("showDetail")'>
              [No Title]
            </span>
          </template>
        </el-header>

        <el-main class='snippetContainerMain'>
          <div class='snippet-element'
          v-for='(snippet, index) in highlightSnippets'
          :key='index'>
          <span v-html='snippet'></span>
          </div>
        </el-main>
      </el-container>

      <el-container class="evalContainer" direction="vertical" v-if='toggleEval'>
        <div>
          <div>
            <el-radio @input='emitEval()' v-model="isRelevant" label="true">Relevant</el-radio>
          </div>
          <div>
            <el-radio @input='emitEval()' v-model="isRelevant" label="false">Irrelevant</el-radio>
          </div>
        </div>
      </el-container>

    </el-container>
  </div>
</template>

<script>
import { EventBus } from '@/EventBus'

export default {
  name: 'ResultSnippet',

  data: () => {
    return {
      /**
       * @var {Boolean} isRelevant
       *
       * Used to define if a given item of the result set is relevant for a given retrival task
       */
      isRelevant: undefined
    }
  },

  props: {
    /**
     * @var {Object} result data object of the displayed search result document.
     */
    result: {
      type: Object
    },
    /**
     * @var {Object} highlight Contains the result object with highlighted directions and description.
     */
    highlight: {
      type: Object
    },
    /**
     * Indicates wheter evaluation tools are being shown or not
     * @prop {Boolean} toggleEval
     */
    toggleEval: {
      type: Boolean
    },
    /**
     * @prop {String} docId the id of the result item that is being represented by the snippet
     */
    docId: {
      type: String
    }
  },
  computed: {
    /**
     * Creates the highlighted snippet text for a ResultSnippet component.
     *
     * All possible highlights are provided by the highlight property.
     * We want to display 1 <= n <= 4 snippet paragraphs.
     * We assume that snippets that have been created from the desc field contain more valuable
     * information for the user than the ones that have been created from the directions field.
     *
     * @returns 1..4 relevant result snippet texts.
     */
    highlightSnippets: function () {
      const snippetElementMax = 3

      if (this.highlight === undefined) {
        return ['No snippet text available']
      }
      if (this.highlight.desc !== undefined && this.highlight.directions !== undefined) {
        return this.highlight.desc.concat(this.highlight.directions).slice(0, snippetElementMax)
      }
      if (this.highlight.desc === undefined) {
        return this.highlight.directions.slice(0, snippetElementMax)
      }
      if (this.highlight.directions === undefined) {
        return this.highlight.desc.slice(0, snippetElementMax)
      }
    }
  },

  methods: {
    /**
     * Emits 'sendEval' event on EventBus. Event contains evaluation data that is needed
     * by the backend to track the relevance of a document for a given retrieval task
     *
     * @param {Object} evalData whatever
     */
    emitEval: function () {
      EventBus.$emit('sendEval', {
        isRelevant: this.isRelevant,
        docId: this.docId
      })
    }
  }
}
</script>

<style>
.resultSnippet {
  float: left;
}

.snippetContainer {
  text-align: left;
  padding: 15px;
  width: 90%
}

.snippetContainerHeader {
  font-size: 18px;
  color: #00cc66;
}

.snippetContainerMain {
  text-align: left;
}

.snippet-title {
  cursor: pointer;
  text-decoration: underline;
}

.snippet-title:hover {
  text-decoration: none;
  color: #00b359;
}

em {
  font-weight: bold;
}

.snippet-element {
  margin-bottom: 3px;
}

.componentContainer {
  width: 70%;
}

.evalContainer {
  width: 10%;
  text-align: left;
  justify-content: space-around;
}
</style>
