<!-- Component that Lists Results, holds ResultSet received from backend -->
<template>
  <div id='ResultList'>
    <ResultSnippet
    v-for='(result, index) in resultSet'
    :key='result._id'
    :result='result._source'
    :docId='result._id'
    :highlight='result.highlight'
    :toggleEval='toggleEval'
    @showDetail='selectResultAndTrackHit(index)'
    @click='selectResultAndTrackHit(index)'/>

    <el-dialog
      :visible.sync='showModal'
      @close='closeResultAndTrackDwellTime()'
      width='60%'
      style='text-align: left'>
      <el-row type='flex'>
        <div class='clearfix title'>
        <span v-if='result.title !== undefined'>{{ result.title }}</span>
        </div>
      </el-row>
      <!-- Keyfacts -->
      <el-row type='flex'>
        <el-col :span='6'>
          <div id='ingredients' v-if='result.ingredients' class='keyfacts'>
            <h3>Ingredients</h3>
            <ul>
              <li v-for='ingredient in result.ingredients'>{{ ingredient }}</li>
            </ul>
          </div>
        </el-col>
        <el-col :span='6'>
            <div id='nutrival' class='keyfacts' v-if='result.fat || result.sodium || result.protein || result.calories'>
            <h3>Nutritional Values</h3>
            <ul>
              <li v-if='result.fat'>Fat: {{ result.fat }}</li>
              <li v-if='result.sodium'>Sodium: {{ result.sodium }}</li>
              <li v-if='result.protein'>Protein: {{ result.protein }}</li>
              <li v-if='result.calories'>Calories: {{ result.calories }}</li>
            </ul>
          </div>
        </el-col>
        <el-col :span='6'><div></div></el-col>
        <el-col :span='6'>
          <div class='rating'>Rating: {{ result.rating }}</div>
        </el-col>
      </el-row>
      <!-- Description -->
      <el-row>
        <el-col :span='24'>
          <div v-if='result.desc !== undefined' class='text item' style='float: left'>
            <h2>Description</h2>
            <p>{{ result.desc }}</p>
          </div>
        </el-col>
      </el-row>
      <!-- Directions -->
      <el-row>
        <el-col :span='24'>
          <div v-if='result.directions !== undefined' class='text item' style='float: left'>
            <h2>Directions</h2>
            <p v-for='direction in result.directions'>{{ direction }}</p>
          </div>
        </el-col>
      </el-row>
    </el-dialog>
  </div>
</template>

<script>
import { EventBus } from '@/EventBus'
import ResultSnippet from '@/components/ResultSnippet'
import axios from 'axios'

export default {
  name: 'ResultList',

  /**
   * components ResultSnippet and ResultDetail are wrapped by this component
   */
  components: { ResultSnippet },

  data: () => {
    return {
      /**
       * @var {Array} resultSet Array of result objects
       */
      resultSet: [],

      /**
       * @var {String} logID for the current session, beginning with a query enterd, ending with a new query or closing the site
       */
      logID: '',

      /**
       * @var {String} selectedDocID stores the document the user clicked on
       */
      selectedDocID: null,

      /**
       * @var {Number} timeSelectedResult Number representing the time the user selected a document in order to calculate dwell time
       */
      timeSelectedResult: null,

      /**
       * @var {Boolean} showModal True, if the detail view modal is currently shown, otherwiese false.
       */
      showModal: false,

      /**
       * @var {Object} selectedResult
       *
       * Holds result object that is selected through click on a title of
       * a ResultDetail and is used as prop for ResultDetail component.
       */
      result: {},

      /**
       * @var {Object} evalInput Will be set to user input from 'Searchbar.vue'.
       */
      evalInput: {
        userName: '',
        taskNr: ''
      }
    }
  },
  props: {
    /**
     * @prop {Boolean} toggleEval
     *
     * Indicates whether evaluation mode is activated. Value is being passed
     * down from url query param 'eval'. Defaults to false via parent component
     */
    toggleEval: Boolean

  },

  methods: {

    /**
     *  Method used by EventListener to set received userData.
     *
     * Sets components data userName and taskNr to received values from
     * Searchbar.vue component.
     *
     * @param {object} evalInput Input from dialog in Searchbar component.
     * @event emitEvalInput Function is calles if ResultList component
     * listens to 'emitEvalInput' event in Searchbar.
     */
    setUserData: function (evalInput) {
      this.evalInput.userName = evalInput['userName']
      this.evalInput.taskNr = evalInput['taskNr']
    },

    /**
     * Update properties on Model close and track dwell time for the beforehand viewed document.
     */
    closeResultAndTrackDwellTime: function () {
      this.showModal = false

      const dwellTime = (new Date()).getTime() - this.timeSelectedResult
      const basePath = 'http://localhost:5000/track/time/'
      const trackPath = basePath.concat(dwellTime)
      axios.put(trackPath, {logId: this.logID, docId: this.selectedDocID})

      this.selectedDocID = null
      this.timeSelectedResult = null
    },

    /**
     * Select Result and track it as a hit.
     *
     * This method is activated by an event-listener: Click on title of a
     * ResultSnippet emits an event which this component listens to.
     * Param is index of this element in ResultSet Array.
     *
     * Additionally, the document is tracked as a hit.
     *
     * @param {int} index arrayIndex of clicked recipe in 'resultSet[]'
     */
    selectResultAndTrackHit: function (index) {
      this.selectedDocID = this.resultSet[index]._id
      const basePath = 'http://localhost:5000/track/hit/'
      const trackPath = basePath.concat(this.selectedDocID)
      axios.put(trackPath, {logId: this.logID})

      this.timeSelectedResult = (new Date()).getTime()
      this.result = this.resultSet[index]._source
      this.showModal = true
    },

    /**
     * Uses Axios to send query to backend.
     *
     * @event sendQuery listens to event 'sendQuery' in Searchbar component
     * @param {string} queryString auto generated query
     */
    sendQuery: function (queryString) {
      const basePath = `http://localhost:5000/search`
      const path = basePath.concat(queryString)

      axios
        .get(path)
        .then(response => {
          this.resultSet = response.data.hits.hits
          this.logID = response.data.logID
        })
        .catch(error => {
          console.log(error)
        })
    },
    /**
     * Uses Axios to send result evaluation data to backend.
     * @param {Object} obj Object containing the id (docId) and the result of the
     * evaluation (isRelevant)
     */
    trackEval: function (obj) {
      // @TODO fix error vars are set to 'undefined'
      const task = this.evalInput.taskNr
      const user = this.evalInput.userName

      const basePath = `http://localhost:5000/relevance-judgement`
      const path = basePath + `?user=` + user + `&task=` + task + `&docId=` + obj.docId +
      `&value=` + obj.isRelevant

      axios
        .post(path)
        .catch(error => {
          console.log(error)
        })
    }
  },

  /**
   * Listen on sendQuery event once this component is created.
   */
  created: function () {
    EventBus.$on('sendQuery', this.sendQuery)
    EventBus.$on('sendEval', this.trackEval)
    EventBus.$on('emitEvalInput', this.setUserData)
  },

  /**
   * Stop listening on sendQuery events just before this component gets destroyed.
   */
  beforeDestroy: function () {
    EventBus.$off('sendQuery')
    EventBus.$off('sendEval')
    EventBus.$off('emitEvalInput')
  }
}
</script>

<style>

.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.rating {
  text-align: center;
  border-style: solid;
  border-width: thin;
  color: #00cc66;
}

.title {
  font-size: 18px;
  color: #00cc66;
  text-align: center;
}

.keyfacts {
  font-size: 13px;
}

</style>
