<!-- This component manages the search bar of our search engine -->
<template>
  <div id='Searchbar'>
    <el-container class='searchbarContainer'>
      <el-header class='searchbarHeader' height='10px'>Recipe Search</el-header>
      <el-main>
        <el-autocomplete
          class='searchbarInput'
          placeholder='Look for Delicious Recipes'
          v-model='searchBarInput'
          @keyup.enter.native='emitSendQuery(query)'
          :fetch-suggestions='fetchQuerySuggestions'
          :trigger-on-focus='false'>
          <el-button
            slot='append'
            icon='el-icon-search'
            @click='emitSendQuery(query)'>
          </el-button>
          <el-button
            slot='append'
            icon='el-icon-more'
            @click='toggleShowAdvancedSearch()'>
          </el-button>
          <el-button
            slot='append'
            v-if='toggleEval'
            icon='el-icon-edit-outline'
            @click='toggleInputForm = true'>
          </el-button>
        </el-autocomplete>
        <el-row
          class='extended-search'
          v-if='showAdvancedSearch'
          type='flex'
          justify='space-around'>
          <el-col :span='6'>
            <label for='input-cal'>Calories in kCal</label>
            <el-input-number
              id='input-cal'
              size='mini'
              controls-position='right'
              :min='0'
              :max='100000'
              v-model='advancedInput.calories'>
            </el-input-number>
          </el-col>
          <el-col :span='6'>
            <label for='input-fat'>Fat in g</label>
            <el-input-number
              id='input-cal'
              size='mini'
              controls-position='right'
              :min='0'
              :max='100000'
              v-model='advancedInput.fat'>
            </el-input-number>
          </el-col>
          <el-col :span='6'>
            <label for='input-sod'>Sodium in mg</label>
            <el-input-number
              id='input-cal'
              size='mini'
              controls-position='right'
              :min='0'
              :max='100000'
              v-model='advancedInput.sodium'>
            </el-input-number>
          </el-col>
          <el-col :span='6'>
            <label for='input-pro'>Protein in g</label>
            <el-input-number
              id='input-cal'
              size='mini'
              controls-position='right'
              :min='0'
              :max='100000'
              v-model='advancedInput.protein'>
            </el-input-number>
          </el-col>
        </el-row>
      </el-main>
    </el-container>
    <el-dialog
      :visible.sync='toggleInputForm'>
      <el-form label-width="100px" label-position="right">
        <el-form-item label="Username" :model="evalInput">
          <el-input v-model="evalInput.userName"></el-input>
        </el-form-item>
        <el-form-item label="TaskNr">
          <el-input v-model="evalInput.taskNr"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button @click='emitEvalInput(evalInput), toggleInputForm = false'>Bestätigen</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import { EventBus } from '@/EventBus'
import axios from 'axios'

export default {
  name: 'Searchbar',

  data () {
    return {
      /**
       * @var {String} searchBarInput Variable that is bound to the Searchbar and holds its input.
       */
      searchBarInput: '',
      /**
       * @var {Array} querySuggestsions Variable that holds query suggestions from backend.
       */
      querySuggestions: [],

      /**
       * @var {Boolean} showAdvancedSearch True if the advanced search form is currently shown, false otherwise.
       */
      showAdvancedSearch: false,

      /**
       * @var {Boolean} toggleInputForm Toggles user input dialog for evaluation.
       */
      toggleInputForm: false,

      /**
       * @var {Object} evalInput Is bound to user input from above dialog.
       */
      evalInput: {
        userName: '',
        taskNr: ''
      },

      /**
       * @var {Object} advancedInput Object that holds Advanced Search inputs.
       */
      advancedInput: {
        calories: undefined,
        protein: undefined,
        sodium: undefined,
        fat: undefined
      }
    }
  },
  props: {
    /**
     * @prop {Boolean} toggleEval
     *
     * Indicates whether evaluation mode is activated. Value is being passed
     * down from url query param 'eval'. Defaults to false via parent component
     */
    toggleEval: Boolean

  },
  computed: {
    /**
     * Auto-generates GET request query for backend including all
     * Advanced Search parameters.
     *
     * @example q=coffee%20cake&cal=500&sod=0&prot=45.5
     * @returns GET request query
     */
    query (query) {
      if (this.searchbarInput !== '') {
        query = '?q=' + this.searchBarInput
      }
      if (this.advancedInput.calories !== undefined) {
        query = query + '&cal=' + this.advancedInput.calories
      }
      if (this.advancedInput.fat !== undefined) {
        query = query + '&fat=' + this.advancedInput.fat
      }
      if (this.advancedInput.sodium !== undefined) {
        query = query + '&sod=' + this.advancedInput.sodium
      }
      if (this.advancedInput.protein !== undefined) {
        query = query + '&prot=' + this.advancedInput.protein
      }
      return query
    }
  },
  methods: {
    /**
     * Emits event and provides generated query. ResultList component listens
     * to this event and sends query to backend.
     *
     * @param {string} query auto generated query from computed()
     */
    emitSendQuery (query) {
      EventBus.$emit('sendQuery', query)
    },

    /**
     * Emits event and provides user input for evaluation purposes.
     * ResultList component listens to this event and sets stores
     * input values.
     *
     * @param {string} evalInput Dialog input consisting of userName and taskNr.
     */
    emitEvalInput (evalInput) {
      EventBus.$emit('emitEvalInput', evalInput)
    },

    /**
     * Send current searchbar input to backend for autocomplete suggestions
     * and return the results to the calling <el-autocomplete> element-ui
     * autocomplete component.
     *
     * @see http://element.eleme.io/#/en-US/component/input - "Autocomplete"
     *
     * @param {string} input The current search bar input.
     * @param {function} cb The callback to be used to return the results.
     */
    async fetchQuerySuggestions (input, cb) {
      let querySuggestions = []
      if (input !== '') {
        await axios
          .get('http://localhost:5000/autocomplete/' + input)
          .then(function (response) {
            querySuggestions = response.data
          })
          .catch(function (error) {
            console.log(error)
          })
      }
      cb(querySuggestions)
    },

    /**
     * Toggles showAdvancedSearch boolean to show/hide Advanced Search field.
     */
    toggleShowAdvancedSearch () {
      this.$data.showAdvancedSearch = !this.$data.showAdvancedSearch
    }
  }
}
</script>

<style>
.searchbarContainer {
  text-align: center;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-top: 10px;
  width: 60%;
}

.searchbarHeader {
  font-size: 22px;
  color: #00cc66;
  text-align: left;
}

.searchbarInput {
  border: 1px;
  width: 100%;
}

.extended-search {
  background: #ebeef5;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}

input,
label {
  display: block;
}
</style>
