<template>
  <div>
    <el-dialog
      :visible.sync='showDialog'>
      <el-form label-width="100px" label-position="right">
        <el-form-item label="Username" :model="evalInput">
          <el-input v-model="evalInput.userName"></el-input>
        </el-form-item>
        <el-form-item label="TaskNr">
          <el-input v-model="evalInput.taskNr"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button @click='emitEvalInput(), toggleShowDialog()'>Bestätigen</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import { EventBus } from '@/EventBus'

export default {
  data: () => {
    return {
      evalInput: {
        userName: '',
        taskNr: ''
      },
      /**
       * @var {Boolean} showDialog determines if to show Dialog for user input
       * @prop {Boolean} toggleInputForm bound to prop initally
       * @see https://stackoverflow.com/questions/40408096/whats-the-correct-way-to-pass-props-as-initial-data-in-vue-js-2
       */
      showDialog: this.toggleInputForm
    }
  },
  props: {
    /**
     * @prop {Boolean} toggleInputForm
     *
     * Indicates whether input form shall be shown
     * Handed down from SearchBar component
     */
    toggleInputForm: Boolean

  },
  methods: {
    emitEvalInput: () => {
      EventBus.$emit('emitEvalInput', this.evalInput)
    },
    toggleShowDialog: () => {
      this.showDialog = !this.showDialog
    }
  }
}
</script>

<style>

</style>
